<div id="header" class="section">
    <h1><a href="/home"><img src="http://passets-cdn.pinterest.com/images/LogoRed.png" width="120" height="31"/></a>
    </h1>

    <div id="menu">
        <ul class="items">
            <li class="home"><a href="/home"><i></i>首页</a></li>
            <li>
                <a href="/board/hot">发现板</a>
            </li>
            <li>
                <a href="/help/marktool.action">工具<b></b></a>
                <ul>
                    <li><a href="/help/marktool.action">发现工具</a></li>
                    <li><a href="#!/add_mark" data-action="addMark">本地上传</a></li>
                </ul>
            </li>
            <li>
                <a href="/10181"><img class="user_16x16" width="16" height="16"
                                                           src="http://pic.yupoo.com/ucdchina_v/Bn1KANEN/earth.jpg"/>Jokry<b></b></a>
                <ul>
                    <li><a href="/10181/marks">我的发现</a></li>
                    <li><a href="/10181">我的发现板</a></li>
                    <li class="hr"><a href="/user/beLikedMarks.action">收到喜欢</a></li>
                    <li><a href="/user/beCommentedMarks.action">收到评论</a></li>
                    <li class="hr"><a href="#!/add_mark" data-action="addMark">添加发现</a></li>
                    <li><a href="#!/add_board" data-action="addBoard">添加发现板</a></li>
                    <li class="hr"><a href="/user/edit.action">账号设置</a></li>
                    <li><a href="/user/doLogout.action">退出</a></li>
                </ul>
            </li>
            <li>
                <a href="/help/marktool.action">关于<b></b></a>
                <ul>
                    <li><a href="/help/faq.action">关于发现啦!</a></li>
                    <li><a href="/help/marktool.action">发现工具</a></li>
                    <li><a href="/mark/1663">问题反馈</a></li>
                    <li><a href="http://blog.markzhi.com" target="_blank">团队Blog</a></li>
                    <li><a href="/help/friends.action">友情链接</a></li>
                    
                </ul>
            </li>
        </ul>
        <form action="/search/marks.action" method="get" enctype="application/x-www-form-urlencoded">
            <input type="text" name="q"/>
            <button type="submit"><span>Search</span></button>
        </form>
    </div>
</div>